.product-top:hover .overlay{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
 }
 
.product-top:hover {
    background-color: #f65aa7;
    z-index: 999;
}
.product-top {
    min-width: 100%;
    min-height: 300px;  
    
}
/* .product-top-1{
      background-image: url('../max-image/post-card.jpg');
      background-size: cover;
}
.product-top-2{
    background-image: url('../max-image/bussines-card.jpg');
    background-size: cover;
}
.product-top-3{
    background-image: url('../max-image/post-card-2.jpg');
    background-size: cover;
}
.product-top-4{
    background-image: url('../max-image/bussines-card-2.jpg');
    background-size: cover;
} */
.product-top button{
    margin: 5px;
}
.overlay{
    text-align: center;
    display: block;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 40% 0;
    opacity: 0;
}
.overlay span{
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans';  
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}
.overlay button{
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;  
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
 .overlay button:hover {
    cursor: pointer;
}
.col-overlay{
    padding-top: 50px;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-left: 0;
    opacity: 0;
   
}
.col-overlay p{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

.col-over:hover .col-overlay{
    opacity: 1;
    transition: 0.5s;
    margin:  auto;
    background-color: rgba(246, 90, 167, 0.7);
    width: 100%;
    height: 100%; 
}
.icon-overlay{
    text-align: center;
    margin: 15px auto;
}
.icon-overlay i{
    font-size: 13px;
    color: #f65aa7;
}
.icon-overlay a{
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin-left: 5px;

}
.icon-overlay a:hover{
    background-color: #9fd7ef;
    color: #ffffff;  
    }
.icon-overlay a:hover i{ 
    color: #ffffff;          
}
.heart{
    font-size:14px;
}
.heart:hover{
  color: #333333;
}
.product-text{
    margin: 20px auto;
}
.product-text span{
     text-align: center;
     font-size: 16px;
     font-family: 'Roboto Slab', serif;
}
 .product-text p{
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;  
    color: #f65aa7;
    font-weight: bold;
}