.comment-container{
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 35px 30px;
}
.comment-container span {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
.comment-container hr{
    border: 2px solid #f65aa7;
    width: 65px;
    margin-left: 0;
    margin-right: 0;
    
}