.btn-primary{
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #777777;
    padding: 10px 30px;
    margin-right: 10px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    border-radius: 6px;
}
.btn-primary:hover{
    background-color: #f65aa7;
    color: #ffffff;
}

.btn  i{
    margin-top: 20px;
    padding: 0 12px;
    font-size: 13px;
    color: #777777;
}
.btn i:hover{
    color: #9fd7ef;
}
.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-text:hover{
    overflow: visible; 
    white-space: normal; 
}