.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.recipe-container{
    padding: 90px 0;
    background-color: #f9f9f9;
}
.inside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.our-header h2{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 140px;
}
.our-header hr{
   height: 5px;
   border-color:#c0bfbf;
   margin-left: 15px;
    display: inline-flex;
    margin-right: 15px;
    width: 65px;
}
.rotate-45{
    transform: rotate(45deg);
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
}
.our-header i{
    color: #c0bfbf;
}
.our-header i:hover{
    color: #c0bfbf;
}
.prom-padd{
    padding-bottom: 60px;
}
.linker-work{
    padding-top:60px;
    text-align: center;
}
.linker-work button{
    padding-left:45px;
    text-decoration: none;
    color: #777777;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff;
    border: none;
    text-align: center;
}
.linker-work button:hover{
    color: #f65aa7;
    text-decoration: none;
}
  @media (max-width: 576px ) {
    .linker-work button {
        padding: 10px 22px;
        text-align: left;
        width: 160px;
    }
}
