.comment-container{
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 35px 30px;
    border-radius: 15px;
    border: 1px solid #EDECF5;
    box-shadow: 0 3px 9px rgb(100 95 136 / 15%);
}
.comment-container span {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
.comment-container hr{
    border: 2px solid #f65aa7;
    width: 65px;
    margin-left: 0;
    margin-right: 0;
    
}
.comment-link button{
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 10px 30px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 6px;
    min-width: 115px;
}
.comment-link button:hover{
    background-color: #f65aa7;
    color: #ffffff;
}