.comment-row{
    margin-top: 15px;
}
.comment-img{
    min-width: 110px;
     min-height: 110px; 
     border-radius: 6px;
}
@media (max-width:575px){
    .comment-img{
        width: 110px;
        max-height: 110px; 
    }
    .comment-text{
        padding-top: 20px;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .except-row {
        margin-left: 0px; 
    }
}
.except-row .comment-text{
    padding-left: 10px;
}
.comment-text .vr-line{
    color: #aeaeae!important;
}
.comment-text .date-span{ 
    color: #f65aa7!important;
}
.comment-text{
    padding-right: 80px;
}
@media (max-width:1130px){
    .comment-text{
        padding-right: 30px;
        padding-left: 50px;
    }
    .except-row .comment-text{
        padding-left: 55px;
    }

}
.comment-text span {
    font-family: 'Roboto Slab', serif;
    font-size:13px;
    color: #000000;
}
.comment-text p{
    padding-top: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Open Sans';
    color: #777777;
}
.reply{
    font-size: 14px;
    color: #f65aa7!important;
}
.comment-line{
    width: 95%!important;
    border: 0.5px solid #999999!important;
}