.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.blog-container{
    padding: 90px 0;
    background-color: #f9f9f9;
}
.inside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.content-container{
    /* background-color:hotpink; */
    
}
.catalog-info{
    background-color: #ffffff;
    padding: 35px 30px;
    border-radius: 10px;
    border: 1px solid #EDECF5;
    box-shadow: 0 3px 9px rgb(100 95 136 / 15%);
    flex: 0 0 auto;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    text-align: center;

}

.side-bar-colon{
    padding-left: 50px;
}
@media (max-width: 991px){
    .side-bar-colon{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 15px;
        padding-left: 0;
    }
}
