.pagin-nr{
    background-color: #f9f9f9;
}
.page-item{
    
    min-width: 55px;
    min-height: 40px;
    text-align: center;
    border: 1px solid #232323;
}
.page-item:last-child .page-link {
     border-top-right-radius: 0; 
     border-bottom-right-radius: 0; 
    
}
.page-item:first-child .page-link {
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}
.page-item.active .page-link {
    background-color: #232323;
    border-color: #232323;

}
.arr-lf-rt{
    margin: 0 5px;
    color: #000000;
}
.page-link{
    color: #000000;
       margin-left: 0px;
}
   nav ul {
    margin-bottom: 0;
    padding-bottom: 140PX;
}
.page-link:hover{
    color: #f0f0f0;
    background-color: #232323;
    border: 1px solid #232323;
}
.active {
    color: #f65aa7!important;
}