.notification{
    position: absolute;
    top: 280px;
    right: 50px;
    background-color: transparent;
    
}
.toast-container{
    z-index: 100000;
    
}
.toast{
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 3px 9px rgb(100 95 136 / 15%);
}
/* .toast-header{
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 3px 9px rgb(100 95 136 / 15%);
} */
