.blog-row-padd{
    padding-bottom: 50px;
}
.side-bar-bg{
    background-color: #ffffff;
    padding: 35px 30px;
    border-radius: 15px;
    border: 1px solid #EDECF5;
    box-shadow: 0 3px 9px rgb(100 95 136 / 15%);
}
.side-bar-bg hr{
    margin-top: 10px!important;
}
.side-bar-bg .our-header i {
    font-size: 12px;
}
.our-header{
    padding-bottom: 10px;
}
.our-header span{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.rotate-45{
    transform: rotate(45deg);
    margin-right: -4px;
    margin-left: -4px;
    color: #c0bfbf;
}
/* .rotate-45 {
    transform: rotate(45deg);
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
} */
.our-header hr{
    height: 5px;
    border-color:#c0bfbf;
    margin-left: 10px;
    display: inline-flex;
    margin-right: 10px;
    width: 35px;
 }
 .search-loop{
    background-color: #000000;
    padding: 20px;
    max-height: 50px
 }
 .our-header i:hover {
    color: #c0bfbf;
}
