.btn-outline-success:hover {
    color: #fff;
    background-color: #f65aa7;
    border-color: #f65aa7;
}
.btn-outline-success {
    color: #f65aa7;
   
    border-color: #f65aa7;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #f65aa7;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f65aa7;
}
.dropdown-item.hover, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f65aa7;
}
/* .dropdown-item {
    color: #fff;
    text-decoration: none;
    background-color: #212529;
}
.dropdown-menu {
    color: #fff;
    text-decoration: none;
    background-color: #212529;
} */
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
    color: #f65aa7;
}